<div>
	<h4>List of available Car variants:</h4>
	<div>
		<h4>{{model.variant_name}}</h4>
	</div>
	<div>
		<a href="http://www.google.com/search?q={{model.variant_name}}" title="Search {{model.variant_name}} on google" target="_blank">{{model.variant_name}}</a>
	</div>
</div>
